<!DOCTYPE html>
<html>
       <body>
            <h1>
                This is not the URL you are looking for ...
            </h1>
            <div class="container"> 
            <iframe src="https://giphy.com/embed/l2JJKs3I69qfaQleE" width="750" height="500" frameBorder="10" class="giphy-embed"></iframe>
            </div>
        </body>
        <style>
            .container {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 300px;
   }
        </style>
</html>